%header
  新建活动
  %div(class="header-left  button_position" ng-show='show')
    %a(ng-tap="list()"  class="btn-style btn-4" )返回

%div(id="wrapper" class="wrapper scrollable" )
  %form(class="wrapper-inner" )
    %fieldset(class="form-wrapper" )
      %br
      %input(ng-model="name" style="height:10%" placeholder="活动名称"  type="text"   class="input-full" ng-change="change()" )
      %br

      %div(ng-show='content' style="text-align:left"  )
        %p(style="color:red" )您输入的活动名称已存在！
      %br
      %br
      %a(ng-tap="activename()"  class="btn btn-primary" ng-disabled="gray" style="width:100%" )
        %h4创建



