%header
  报名
  %div(class="header-left  button_position" )
    %a(ng-tap="go_list()"   class="btn-style btn-4" )返回
  %div(class="header-right  button_position" )
    %a(  class="btn-style btn-4" )开始
%footer
  %ul(class="footer-nav footer-nav-2tabs" )
    %li
      %a(   )报名
    %li(class="active" )
      %a(   )竞价



